<!-- Subscriptions Powered by ReCharge Payments: Begin Liquid Code -->
<!--
	Subscription login assistant
	http://rechargepayments.com: v0.1
-->
<style>
	div#rc_login {
		display: block;
		width: 100%;
		text-align: center;
		margin: 20px auto;
	}

	div#rc_login h5 {
		display: inline-block;
	}

	div#rc_login .wholesale-login-btn {
		margin-top: 20px;
	}
</style>
<div id="rc_login" style="display: none;">
	<div>
		<h5>Having issues managing your subscriptions?</h5>
		<a href="/tools/recurring/get-subscription-access">Click here</a>
	</div>
	<a class="btn wholesale-login-btn" href="https://wholesale.theteaspot.com/accounts/sign_in">GO TO WHOLESALE LOGIN</a>
</div>
<!-- Subscriptions Powered by ReCharge Payments: End Liquid Code -->
